/* ---footer--- */
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
:root {
	--my-link-color: #45818e;
}

.attribution {
	position: fixed;
	bottom: 0;
	width: 100%;
	font-family: "Permanent Marker", cursive;
	font-size: 12px;
	text-align: center;
	letter-spacing: 1px;
	padding-bottom: 15px;
}

.attribution a {
	color: var(--my-link-color);
}

/* @media (max-width: 575px) {
	.attribution {
		position: relative;
	}
} */
